<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/form.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/img/wine65.png" class="logo-img"><img src="/img/steak.png" class="logo-img"><span class="logo">Recipes</span></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/recipes/new">Add a Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container content">
      <%= yield %>
    </div>
  </body>
</html>
