body {
  font-size:16px;
  background:url('http://s2.favim.com/orig/28/blur-cute-dance-drink-food-Favim.com-239323.gif') no-repeat center center fixed;
  background-size:cover;
}
.logo-img {
  display:inline;
  float:left;
  width:24px;
  height:auto;
}
.logo {
  margin-left:5px;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 2em;
}
a .logo {
  color:#000;
}
.jk-amount {
  display:inline;
  width:100px;
}
.jk-ingredient {
  display:inline;
  width:auto;
  margin: 0 10px;
}
.jk-ingredients {
  margin:5px 0;
}
.add_field_button {
  margin-top: 10px;
}

ul {
  list-style: none;
}

.jk-indent {
  margin-left: 40px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > a {
  display: inline-block;
  position: relative;
  width: 1.1em;
  text-decoration: none;
}
.rating > a:hover:before,
.rating > a:hover ~ a:before {
  content: "\2605";
  position: absolute;
  color: yellow;
  text-shadow: 1px 1px 1px black;
}
.recipe-card h1 {
  display:inline-flex;
  background:#337ab7;
  color:#fff;
  padding: 5px 40px;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  margin: 0;
}
.card-main {
  display:block;
  background:#fff;
  border:1px solid #999;
  padding:0 10px 10px 10px;
  box-shadow: 8px 8px 8px #666;
  background: url('/img/background.jpg') no-repeat center center fixed;
  background-size:cover;
}

.jk-list {
  padding: 20px;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 1.6em;
}

h1 {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 2em;
}
